In [1]:
#importing the Libraries#
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

In [2]:
#Reading the Dataset#
dataset=pd.read_csv('insurance_pre.csv')

In [3]:
#what saved in this file#
dataset

      age     sex     bmi  children smoker      charges
0      19  female  27.900         0    yes  16884.92400
1      18    male  33.770         1     no   1725.55230
2      28    male  33.000         3     no   4449.46200
3      33    male  22.705         0     no  21984.47061
4      32    male  28.880         0     no   3866.85520
...   ...     ...     ...       ...    ...          ...
1333   50    male  30.970         3     no  10600.54830
1334   18  female  31.920         0     no   2205.98080
1335   18  female  36.850         0     no   1629.83350
1336   21  female  25.800         0     no   2007.94500
1337   61  female  29.070         0    yes  29141.36030

[1338 rows x 6 columns]

In [4]:
#create dummy data set. #drop a column#
dataset=pd.get_dummies(dataset,drop_first=True)

In [5]:
#what saved in this file#
dataset

      age     bmi  children      charges  sex_male  smoker_yes
0      19  27.900         0  16884.92400     False        True
1      18  33.770         1   1725.55230      True       False
2      28  33.000         3   4449.46200      True       False
3      33  22.705         0  21984.47061      True       False
4      32  28.880         0   3866.85520      True       False
...   ...     ...       ...          ...       ...         ...
1333   50  30.970         3  10600.54830      True       False
1334   18  31.920         0   2205.98080     False       False
1335   18  36.850         0   1629.83350     False       False
1336   21  25.800         0   2007.94500     False       False
1337   61  29.070         0  29141.36030     False        True

[1338 rows x 6 columns]

In [6]:
#catogorical data convert to numerical data#
dataset=dataset.astype(int)

In [7]:
#what saved in this file#
dataset

      age  bmi  children  charges  sex_male  smoker_yes
0      19   27         0    16884         0           1
1      18   33         1     1725         1           0
2      28   33         3     4449         1           0
3      33   22         0    21984         1           0
4      32   28         0     3866         1           0
...   ...  ...       ...      ...       ...         ...
1333   50   30         3    10600         1           0
1334   18   31         0     2205         0           0
1335   18   36         0     1629         0           0
1336   21   25         0     2007         0           0
1337   61   29         0    29141         0           1

[1338 rows x 6 columns]

In [8]:
#show all columns in dataset#
dataset.columns

Index(['age', 'bmi', 'children', 'charges', 'sex_male', 'smoker_yes'], dtype='object')

In [9]:
#independent variable means input.  #split input variables. #dataset assigned to independent variable#
independent=dataset[['age', 'bmi', 'children','sex_male', 'smoker_yes']]

In [10]:
#what saved in this file#
independent

      age  bmi  children  sex_male  smoker_yes
0      19   27         0         0           1
1      18   33         1         1           0
2      28   33         3         1           0
3      33   22         0         1           0
4      32   28         0         1           0
...   ...  ...       ...       ...         ...
1333   50   30         3         1           0
1334   18   31         0         0           0
1335   18   36         0         0           0
1336   21   25         0         0           0
1337   61   29         0         0           1

[1338 rows x 5 columns]

In [11]:
#dependent variable means output.  #split output variables. #dataset assigned to dependent variable#
dependent=dataset[['charges']]

In [12]:
#what saved in this file#
dependent

      charges
0       16884
1        1725
2        4449
3       21984
4        3866
...       ...
1333    10600
1334     2205
1335     1629
1336     2007
1337    29141

[1338 rows x 1 columns]

In [13]:
from sklearn.ensemble import AdaBoostRegressor

In [16]:
#Model creation#
from sklearn.model_selection import GridSearchCV
param_grid = {'loss':['linear','square'],
              'n_estimators':[50,100]}


grid=GridSearchCV(AdaBoostRegressor(), param_grid, refit=True, verbose=3,n_jobs=-1)

#fitting the model for grid search
grid.fit(independent,dependent)

Fitting 5 folds for each of 4 candidates, totalling 20 fits

C:\Users\anandha rishi\anaconda3\Lib\site-packages\sklearn\utils\validation.py:1143: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

GridSearchCV(estimator=AdaBoostRegressor(), n_jobs=-1,
             param_grid={'loss': ['linear', 'square'],
                         'n_estimators': [50, 100]},
             verbose=3)

In [17]:
#Print best parameter afterr tuning#
#Print(grid.best_params_)
re=grid.cv_results_

print("The R_score value for best parameter {}:".format(grid.best_params_))

The R_score value for best parameter {'loss': 'linear', 'n_estimators': 100}:

In [18]:
table=pd.DataFrame.from_dict(re)

In [19]:
table

,mean_fit_time,std_fit_time,mean_score_time,std_score_time,param_loss,param_n_estimators,params,split0_test_score,split1_test_score,split2_test_score,split3_test_score,split4_test_score,mean_test_score,std_test_score,rank_test_score
0,0.083249,0.017739,0.013120,0.012708,linear,50,"{'loss': 'linear', 'n_estimators': 50}",0.775980,0.757651,0.826707,0.767628,0.852570,0.796107,0.036931,2
1,0.068489,0.012560,0.003126,0.006251,linear,100,"{'loss': 'linear', 'n_estimators': 100}",0.811612,0.778550,0.842351,0.756497,0.849922,0.807786,0.035973,1
2,0.228142,0.007656,0.018750,0.006251,square,50,"{'loss': 'square', 'n_estimators': 50}",0.553276,0.405930,0.471625,0.520005,0.461051,0.482377,0.050709,3
3,0.411983,0.041073,0.028128,0.006251,square,100,"{'loss': 'square', 'n_estimators': 100}",0.546219,0.350341,0.451464,0.541570,0.421941,0.462307,0.074307,4

In [20]:
age_input=float(input("Age:"))
bmi_input=float(input("BMI:"))
children_input=float(input("children:"))
sex_male_input=int(input("sex Male 0 or 1:"))
smoker_yes_input=int(input("smoker yes 0 or 1:"))

Age: 32
BMI: 43
children: 2
sex Male 0 or 1: 0
smoker yes 0 or 1: 1

In [21]:
Future_Prediction=grid.predict([[age_input,bmi_input,children_input,sex_male_input,smoker_yes_input]])
print("Future_Prediction={}".format(Future_Prediction))

Future_Prediction=[39679.43298969]

C:\Users\anandha rishi\anaconda3\Lib\site-packages\sklearn\base.py:439: UserWarning: X does not have valid feature names, but AdaBoostRegressor was fitted with feature names
  warnings.warn(